@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #005f73; /* Ocean Blue */
	--secondary-color: #0a9396; /* Aqua Green */
	--accent-color: #e9d8a6; /* Golden Sand */
	--neutral-light: #e5e5e5; /* Cream White */
	--neutral-dark: #27272a; /* Charcoal Gray */
}
/* 
Primary Color - Ocean Blue: #005F73 Use for headers, navigation bars, and main buttons.

Secondary Color - Aqua Green: #0A9396 Use for highlights, secondary buttons, or hover effects.

Accent Color - Golden Sand: #E9D8A6 Use for subtle accents, icons, or section dividers.

Neutral Light - Cream White: #E5E5E5 Use as the background color for light sections.

Neutral Dark - Charcoal Gray: #27272A Use for text, footers, or darker sections. 
*/