@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #005f73; /* Ocean Blue */
	--secondary-color: #0a9396; /* Aqua Green */
	--accent-color: #e9d8a6; /* Golden Sand */
	--neutral-light: #e5e5e5; /* Cream White */
	--neutral-dark: #27272a; /* Charcoal Gray */
}

[data-theme="dark"] {
	--primary-color: #0a9396; /* Aqua Green */
	--secondary-color: #94d2bd; /* Light Teal */
	--accent-color: #ee9b00; /* Deep Mustard */
	--neutral-light: #27272a; /* Charcoal Gray */
	--neutral-dark: #e5e5e5; /* Cream White */
}

body {
	background-color: var(--neutral-light);
	color: var(--neutral-dark);
    background-color: white;
    color: black;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}
